<!-- views/checkout/cancel.html.erb -->

<% if user_signed_in? %>

<p>Your payment was cancelled.<br><br>
The item is still in your cart, you can make a payment before the time elapses.
</p>

<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see this page.</div>

<% end %>

<!-- end -->
