<!-- views/checkout/success.html.erb -->

<% if user_signed_in? %>


<p>Thank you for your payment.<br><br>
Shipments begin after reciving payments from everyone in the campaign.
</p>

<%= debug @session %>
<%= debug @payment_intent %>


<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see this page.</div>

<% end %>

<!-- end -->
