<% if user_signed_in? %>

    <!-- <p id="notice"><%#= notice %></p> -->

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><strong>Requested:</strong> <%= @request.product %> by <%= @request.manufacturer %> </div>
      <div class="panel-body">

      <% if @request.producturl.present? %>
     <%= image_tag (@request.producturl )   %>
     <% end %>

      </div>
    </div>

    <!--
    <%#= link_to 'Edit', edit_photos_path(@photos) %> |
-->
    <%= link_to 'Back', requests_path %>

<% else %>


    <div class="alert alert-warning" role="alert">You must be signed in to see the requests.</div>


<% end %>
