<% if user_signed_in? %>


    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Charts and Graphs<br/>
                    <small>Visualize it!</small>
                </h1>
         <!-- charts and graphs  go here... -->



            </div>
</div>

<% else %>

    <div class="alert alert-warning" role="alert">You must be signed in to see the charts and graphs.</div>

<% end %>
