 <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact Us<br/>
                    <small>You talking to me?</small>
                </h1>
                
                <%= render "pages/mailer" %>
                <!-- <p>Find me in app/views/pages/contact.html.erb</p> -->
            </div>
</div>


