<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cookie Policy<br/>
                    <small>Please read</small>
                </h1>
         <!-- Frequently asked questions go here... -->
No Cookie Policy yet. Please use the contact form to ask a question.</br>
ME LOST HOUR OF PRECIOUS COOKIE EATING TIME! WHAT ME GOING TO DO NOW?!
            </div>
</div>
