<!-- Find me in app/views/pages/faq -->

<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Frequently asked questons<br/>
                    <small>Please read</small>
                </h1>
         <!-- Frequently asked questions go here... -->
No questions yet, please use the contact form to ask a question.  
            </div>
</div>

<!-- end -->
