<head>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
</head>

<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Jobs<br/>
                    <small>Join Us?</small>
                </h1>
         <!-- Frequently asked questions go here... -->
No Jobs yet. I can't even find one, and I built this site.
            </div>
</div>

<hr>
testing...<br><br>

<div id = 'state'>
<%= select_tag :state, options_for_select(us_states) %>
</div>
<br>
<div id = 'prov' >
<%= select_tag :provinces, options_for_select(canadian_provinces) %>
</div>
<br>
<div id = 'country'>

<%= select_tag  :country, options_for_select(country), :onchange => "myFunction()" %>
</div>

<hr>
testing... select 2 dropdown<br><br>

<select class="js-example-basic-single" name="state">
  <option value="AL">Alabama</option>
    ...
  <option value="WY">Wyoming</option>
</select>






<script>

$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
            
            
function myFunction() {

 var y = document.getElementById("provinces");
 var x = document.getElementById("state");
 
 if ($("#country").find(":selected").val() == "CAN"){

    y.style.display = "block";
    x.style.display = "none";
 
  } else {
 
    x.style.display = "block";
    y.style.display = "none";

  }
  
}
</script>


