<head>
<!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" /> -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
</head>

<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Jobs<br/>
                    <small>Join Us?</small>
                </h1>
         <!-- Frequently asked questions go here... -->
No Jobs yet. I can't even find one, and I built this site.
            </div>
</div>

<hr>
testing...<br><br>

<div id = 'state'>
<%= select_tag :state, options_for_select(us_states) %>
</div>
<br>
<div id = 'prov' >
<%= select_tag :provinces, options_for_select(canadian_provinces) %>
</div>
<br>
<div id = 'country'>

<%= select_tag  :country, options_for_select(country), :onchange => "myFunction()" %>
</div>

<hr>
testing... select 2 dropdown<br><br>

<select class="js-example-basic-single" name="state">
 
</select>

<hr>
testing...helperfile<br><br>

<%= f.select :state, prov_state , required: true, :validate => true, label: 'Prov / State' %>


<script>

$(document).ready(function() {
            
    var prov_states = [
    
    { id: 'AB', text: 'Alberta'}, 
    { id: 'BC', text: 'British Columbia'}, 
    { id: 'MB', text: 'Manitoba'}, 
    { id: 'NB', text: 'New Brunswick'}, 
    { id: 'NL', text: 'New Foundland and Labrador'}, 
    { id: 'NT', text: 'Northwest Territories'}, 
    { id: 'NS', text: 'Nova Scotia'}, 
    { id: 'NU', text: 'Nunavut'}, 
    { id: 'ON', text: 'Ontario'}, 
    { id: 'PE', text: 'Prince Edward Island'}, 
    { id: 'QC', text: 'Quebec'}, 
    { id: 'SK', text: 'Saskatchewan'}, 
    { id: 'YT', text: 'Yukon'}, 
    { id: 'AL', text: 'Alabama'}, 
    { id: 'AK', text: 'Alaska'}, 
    { id: 'AZ', text: 'Arizona'}, 
    { id: 'AR', text: 'Arkansas'}, 
    { id: 'CA', text: 'California'}, 
    { id: 'CO', text: 'Colorado'}, 
    { id: 'CT', text: 'Connecticut'}, 
    { id: 'DE', text: 'Delaware'}, 
    { id: 'DC', text: 'District of Columbia'}, 
    { id: 'FL', text: 'Florida'}, 
    { id: 'GA', text: 'Georgia'}, 
    { id: 'HI', text: 'Hawaii'}, 
    { id: 'ID', text: 'Idaho'}, 
    { id: 'IL', text: 'Illinois'}, 
    { id: 'IN', text: 'Indiana'}, 
    { id: 'IA', text: 'Iowa'}, 
    { id: 'KS', text: 'Kansas'}, 
    { id: 'KY', text: 'Kentucky'}, 
    { id: 'LA', text: 'Louisiana'}, 
    { id: 'ME', text: 'Maine'}, 
    { id: 'MD', text: 'Maryland'}, 
    { id: 'MA', text: 'Massachusetts'}, 
    { id: 'MI', text: 'Michigan'}, 
    { id: 'MN', text: 'Minnesota'}, 
    { id: 'MS', text: 'Mississippi'}, 
    { id: 'MO', text: 'Missouri'}, 
    { id: 'MT', text: 'Montana'}, 
    { id: 'NE', text: 'Nebraska'}, 
    { id: 'NV', text: 'Nevada'}, 
    { id: 'NH', text: 'New Hampshire'}, 
    { id: 'NJ', text: 'New Jersey'}, 
    { id: 'NM', text: 'New Mexico'}, 
    { id: 'NY', text: 'New York'}, 
    { id: 'NC', text: 'North Carolina'}, 
    { id: 'ND', text: 'North Dakota'}, 
    { id: 'OH', text: 'Ohio'}, 
    { id: 'OK', text: 'Oklahoma'}, 
    { id: 'OR', text: 'Oregon'}, 
    { id: 'PA', text: 'Pennsylvania'}, 
    { id: 'PR', text: 'Puerto Rico'}, 
    { id: 'RI', text: 'Rhode Island'}, 
    { id: 'SC', text: 'South Carolina'}, 
    { id: 'SD', text: 'South Dakota'}, 
    { id: 'TN', text: 'Tennessee'}, 
    { id: 'TX', text: 'Texas'}, 
    { id: 'UT', text: 'Utah'}, 
    { id: 'VT', text: 'Vermont'}, 
    { id: 'VA', text: 'Virginia'}, 
    { id: 'WA', text: 'Washington'}, 
    { id: 'WV', text: 'West Virginia'}, 
    { id: 'WI', text: 'Wisconsin'}, 
    { id: 'WY', text: 'Wyoming'},

    ];

        
    $('.js-example-basic-single').select2({ data:  prov_states, width: '100%' });
            
});
            
            
function myFunction() {

 var y = document.getElementById("provinces");
 var x = document.getElementById("state");
 
 if ($("#country").find(":selected").val() == "CAN"){

    y.style.display = "block";
    x.style.display = "none";
 
  } else {
 
    x.style.display = "block";
    y.style.display = "none";

  }
  
}
</script>


