<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Privacy Policy<br/>
                    <small>Please read</small>
                </h1>
         <!-- Frequently asked questions go here... -->
No Privacy Policy yet. Please use the contact form to ask a question.  
            </div>
</div>
