development: &default
  host: 'http://localhost:9200'
  transport_options:
  request:
  timeout: !!integer 300
test:
  <<: *default
staging:
  <<: *default
production:
  host: 'https://paas:9d1a4639123b9560787c9b101f84dbce@oin-us-east-1.searchly.com'
  transport_options:
    request:
      timeout: !!integer 300
