<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<!-- <h1>Carts</h1>  -->


<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
      
    
    <% @carts.each do |cart| %>
      <tr>
        <td><%= link_to 'Show', cart %></td>
        <!-- <td><%= link_to 'Edit', edit_cart_path(cart) %></td> -->
        <td><%= link_to 'Delete', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <#%= link_to 'New Cart', new_cart_path %> booyah-->

<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see the shopping cart.</div>
  
<% end %> 


