<% if user_signed_in? %>
<!--  <p id="notice"><%#= notice %></p>  -->

<!-- <h1>Carts</h1>  -->


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% if @carts.empty?  %>
      <h4>Nothing here...</h4>
        <% end %>

    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.created_at.strftime("%m/%d/%Y") %> |</td>
        <td> <%=  cart.product_id  %>  </td>
       <!--  <td><%#= link_to 'Show', cart %></td>
        <td><%#= link_to 'Edit', edit_cart_path(cart) %></td>
        -->

        <% if not cart.processing? %>
        <td>| <%= link_to 'Remove', cart, method: :delete, data: { confirm: 'Are you sure?' } %>   </td>
            <% else %>
           <td> <%= '| Processing order...'  %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <#%= link_to 'New Cart', new_cart_path %> booyah-->

<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see the shopping cart.</div>
  
<% end %> 


