<!-- found in views/carts/new.html.erb -->

<% if can? :manage, @carts %>

<h1>New Cart</h1>

<%= render 'form' %>


<% else %>


    <div class="alert alert-warning" role="alert">Please sign in as administrator to add to cart.</div>

<% end %>

<!-- end -->
