<!DOCTYPE html>
<html>
 <head>
 </head>
 <body>
 <p>
 There is a new message from the Massdump.com's contact form.
 The message was sent from <%= "#{ @name }, #{ @email }."%>
 </p>

 <p>
 Registered user: <%= "#{ @registered_user }."%><br>
 Supplier: <%= "#{ @supplier }."%><br><br>
 <%= "#{ @message }."%>
 </p>
 </body>
</html>
