// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.even
{
  background: #efefef;
}

.odd
{
  background: #bfbfbf;
}

div.img {

  margin: 5px;
  border: 0px solid #ccc;
  float: left;
  width: 200px;
  height: 280px;
  overflow: hidden;
}