<% if user_signed_in? %>

<!-- <p id="notice"><%#= notice %></p> -->

<!--
<h1>Categories</h1>
-->
<%=   @categories.count %> categories <br/><br/>


    <% @categories.each do |category| %>

    <div class="img2">

        <!--  <div class="top-right">Top Right</div>
          <div class="bottom-right">Bottom Right</div>
                    <div class="imageholder" >

          </div>

-->

            <%= link_to category.name , category  %>

            <%= link_to image_tag(category.picurl ), category %>

        </div>

    <% end %>

  <!--
<%= link_to 'New Category', new_category_path %>
-->
<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see the categories.</div>
  
<% end %> 

