<% if user_signed_in? %>

<!-- <p id="notice"><%#= notice %></p> -->

<!--
<h1>Categories</h1>
-->
<%=   @categories.count %> categories <br/><br/>



    <% @categories.each do |category| %>
        <div class="img">

        <%= link_to category.name , category  %>

        <%= image_tag(category.picurl, height: '75', width: '75' ) %>

        </div>

    <% end %>


<!--
<%= link_to 'New Category', new_category_path %>
-->
<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see the categories.</div>
  
<% end %> 

