<% if can? :manage, @transaction %>

<h1>New Transaction</h1>

<%= render 'form' %>


<% else %>

<!-- <h1>Please sign in as administrator to add products.</h1> -->

<div class="alert alert-warning" role="alert">Please sign in as administrator to add transactions.</div>

<% end %>