<!-- Find me in app/views/products/edit -->

<% if user_signed_in? %>  <!-- fix this change to admin user -->

<h1>Editing Product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>

<% else %>


    <div class="alert alert-warning" role="alert">You must be signed in as administrator to edit the products.</div>
  
<% end %> 

<!-- end -->
