<% if user_signed_in? %>


  <%= link_to 'Back', categories_path %><br/>



  <% @products.each do |product| %>

    <div class="img">

      <%= image_tag(product.picurl, height: '75', width: '75' )  %>


      <%= link_to  product.title, product  %>


    </div>


  <% end %>

  </br>

  <div class="pagenav">
  <%#== pagy_nav(@pagy) %>
  <%== pagy_nav_bootstrap(@pagy) %> <br/>

  </div>
<%#= will_paginate @product, renderer: BootstrapPagination::Rails %>

<!-- 
-->

<% else %>


<!-- <h1>You must be signed in to see the products.</h1> -->

<div class="alert alert-warning" role="alert"> You must be signed in to see the products.</div>
  
<% end %> 

