<% if user_signed_in? %>  <!-- fix this change to admin user -->

<h1>New Product</h1>

<%= render 'form' %>

<%= link_to 'Back', products_path %>

<% else %>

<!-- <h1>Please sign in as administrator to add products.</h1> -->

<div class="alert alert-warning" role="alert">Please sign in as administrator to add products.</div>

<% end %>