<!-- views/layouts/_addthis.html.erb -->

<!-- Go to www.addthis.com/dashboard to customize your tools
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59307581674b8668&async=1"></script>

-->

<script type="text/javascript">
    if (window.addthis) {
        window.addthis = null;
        window._adr = null;
        window._atc = null;
        window._atd = null;
        window._ate = null;
        window._atr = null;
        window._atw = null;
    }
</script>

<script src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59307581674b8668&async=1" type="text/javascript">


</script>


<div class="well well-sm"  >
  <div class="addthis_inline_share_toolbox"></div>
</div>


<script>

    $(document).on('turbolinks:load',function()
    {
        addthis.init();
        addthis.layers.refresh();
      });
</script>


<div class="addthis_sharing_toolbox"></div>

<!-- end of addthis partial -->
