
<!-- Go to www.addthis.com/dashboard to customize your tools
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59307581674b8668&async=1"></script>

-->

<script src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59307581674b8668&async=1" type="text/javascript">
</script>


<div class="well well-sm"  >
  <div class="addthis_inline_share_toolbox"></div>
</div>


<script>

    $(document).on('turbolinks:visit',function()
    {
        addthis.init();
        addthis.layers.refresh();
      });
</script>
