<!-- views/layouts/_categorydropdown.html.erb -->

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"  data-hover="dropdown" data-delay="1000" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li role="separator" class="divider"></li>
         <li><%= link_to "All Categories", categories_path %></li>
      </ul>
</li>

<!-- end partial -->
