<!-- views/layouts/_footer.html.erb -->

<footer class="footer-distributed">

    <div class="footer-left">
        <div class="row">
            <div class="col-lg-12">
                <p class="footer-company-name" >MASSDUMP</p>
                <p>Copyright &copy;2018</p>
               
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


        </div>
    </div>


</footer>

<!-- end footer -->
