<!-- views/layouts/_googlemap.html.erb .. need api key -->

<div class="panel panel-default">
    <div class="panel-body">
      <h5>Make sure you provide the correct mailing address!</h5>
      <img src="https://maps.googleapis.com/maps/api/staticmap?size=400x400&zoom=15&center=" alt="..." class="img-rounded">
    </div>
</div>

<!-- end partial -->
