<!-- views/layouts/_notificationdropdown.html.erb -->

<li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"  data-hover="dropdown" data-delay="1000" role="button" aria-haspopup="true" aria-expanded="false"> Notifications<span class="caret"></span></a>
        <ul class="dropdown-menu">
                <% all_notifications.each do |notification| %>
                    <li><%= link_to notification.notify_msg, notification_path(notification) %></li>
                <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to "All Notifications", notifications_path %> </li>
        </ul>
</li>

<!-- end notification dropdown -->
