<div class="navbar-form navbar-left">
<%= form_for :product,url: products_url,:html => {:method => :get}  do |f| %>

    <div class="field">

  <%#= f.label :title_or_template_cont %>



      <%= text_field_tag :query ,'', :placeholder=> "Search" %>

  <!--
  <div class="actions">
 -->
    <%= f.submit "Submit" %>
 <!--
    </div>
-->

  </div>

  <% end %>
</div>
